In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading datasets
dfs = pd.read_excel(r"C:\Users\ArjunDas.H\Documents\TSI\Analysis Sep_02\StorageScrapPOShippedDatePOOrderDate.xlsx")
dfsku = pd.read_excel(r"C:\Users\ArjunDas.H\Documents\TSI\Analysis Sep_02\skumaster.xlsx")

In [3]:
# merging 2 dfs
dfmrg = pd.merge(dfs,dfsku, how='left', left_on='productcode', right_on='Sku')

In [4]:
dfmrg['PO_freq'] = dfmrg['quantitypo']

In [7]:
dfmrg.columns

Index(['product', 'Unnamed: 1', 'shippeddate', 'squareftcost', 'QTYTotal',
       'VALTotal', 'quantitypo', 'productcode', 'productname', 'source',
       'month', 'year', 'squareft', 'price', 'receivedquantitypo',
       'shippedquantitypo', 'unitcostpo', 'Sku', 'Itemname', 'Description',
       'Fulfillmentvendor', 'POD', 'itemstatus', 'category', 'Brand1', 'Type',
       'Subbrand1', 'brand', 'subbrand', 'amortization', 'availablequantity',
       'physicalquantity', 'cost', 'poptype', 'GLCode', 'MattressItemID',
       'Level', 'Size', 'description_guide', 'Language', 'Launch',
       'OldMattressitemid', 'oldsku', 'isreplaced', 'Category_Guide',
       'type_guide', 'SubCategory1', 'SubCategory2', 'PO_freq'],
      dtype='object')

In [5]:
grp1 = dfmrg.groupby('productcode').agg({'QTYTotal':'sum', 'squareftcost':'mean', 'quantitypo':'sum', 'PO_freq':'count'}).reset_index()

In [6]:
grp1.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
productcode,258,258,A2DPGH,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QTYTotal,258.0,NaN,NaN,NaN,178.186047,1615.891549,0.0,0.0,0.0,14.75,25031.0
squareftcost,218.0,NaN,NaN,NaN,64.226646,219.394013,0.0,8.38,10.08,27.414242,2091.473103
quantitypo,258.0,NaN,NaN,NaN,1659.763566,6292.065205,1.0,150.0,428.0,1150.0,74975.0
PO_freq,258.0,NaN,NaN,NaN,1.914729,1.525559,1.0,1.0,1.0,2.0,14.0